<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.sixin.iot.mapper.Soil3DMapper">

    <resultMap type="com.sixin.iot.domain.Tersga1" id="Tersga1Result">
        <result property="tid"    column="tid"    />
        <result property="sum"    column="sum"    />
        <result property="run"    column="run"    />
        <result property="down"    column="down"    />
        <result property="req" column="req" />
    </resultMap>

    <select id="sumters" resultMap="Tersga1Result">
        select
            count(tid) as sum,
            count(isuse = '1' or null) as run,
            count(isuse = '0' or null) as down
        from terminals
    </select>

    <select id="sumterm" resultMap="Tersga1Result">
        select
            area.aname,
            count(terminals.tid) as sum,
            count(terminals.isuse = '1' or null) as run,
            count(terminals.isuse = '0' or null) as down,
            count(terminal_maintain.createtime between '2018-03-10 07:00:00' and '2019-01-10 08:55:00') as  req
        from
            terminals,
            area,
            terminal_maintain
        where
            terminals.aid = area.aid
            AND
            terminals.tid = terminal_maintain.tid
        group by
            area.aname
    </select>
</mapper>