<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.sixin.iot.mapper.TriggerMapper">
    <resultMap id="TriggerResult" type="com.sixin.iot.domain.Trigger">
        <result property="id" column="id"/>
        <result property="type" column="type"/>
        <result property="time" column="time"/>
    </resultMap>
<select id="selectlist" resultMap="TriggerResult">
select
         type,
          count(type) as count
        from
         tb_trigger
        group by type

</select>
</mapper>