<!DOCTYPE html>
<html lang="zh" xmlns:th="http://www.thymeleaf.org" xmlns:shiro="http://www.pollix.at/thymeleaf/shiro">
<head>
    <th:block th:include="include :: header" />
    <th:block th:include="include :: layout-latest-css" />
    <th:block th:include="include :: ztree-css" />
    <!--	('授权手机列表')-->
</head>
<body class="gray-bg">
<div class="ui-layout-center">
    <div class="container-div">
        <div class="row">
            <div class="col-sm-12 search-collapse">
                <form id="user-form">
                    <input type="hidden" id="pid" name="pid">
                    <div class="select-list">
                        <ul>
                            <li>
                                人员姓名：<input type="text" name="uname"/>
                            </li>
                            <li>
                                授权号码：<input type="text" name="phone"/>
                            </li>
<!--                            <li>-->
<!--                                用户状态：<select name="status" th:with="type=${@dict.getType('sys_normal_disable')}">-->
<!--                                <option value="">所有</option>-->
<!--                                <option th:each="dict : ${type}" th:text="${dict.dictLabel}" th:value="${dict.dictValue}"></option>-->
<!--                            </select>-->
<!--                            </li>-->
                            <li>
                                批准人姓名：<input type="text" name="allowname"/>
                            </li>
                            <li>
                                再次批准人姓名：<input type="text" name="reallowname"/>
                            </li>
                            <li>
                                <a class="btn btn-primary btn-rounded btn-sm" onclick="$.table.search()"><i class="fa fa-search"></i>&nbsp;搜索</a>
                                <a class="btn btn-warning btn-rounded btn-sm" onclick="$.form.reset()"><i class="fa fa-refresh"></i>&nbsp;重置</a>
                            </li>
                        </ul>
                    </div>
                </form>
            </div>

            <div class="btn-group-sm" id="toolbar" role="group">
                <a class="btn btn-success" onclick="$.operate.add()" shiro:hasPermission="system:phone:add">
                    <i class="fa fa-plus"></i> 新增
                </a>
                <a class="btn btn-primary single disabled" onclick="$.operate.edit()" shiro:hasPermission="system:phone:edit">
                    <i class="fa fa-edit"></i> 修改
                </a>
                <a class="btn btn-danger multiple disabled" onclick="$.operate.removeAll()" shiro:hasPermission="system:phone:remove">
                    <i class="fa fa-remove"></i> 删除
                </a>
                <a class="btn btn-info" onclick="$.table.importExcel()" shiro:hasPermission="system:phone:import">
                    <i class="fa fa-upload"></i> 导入
                </a>
                <a class="btn btn-warning" onclick="$.table.exportExcel()" shiro:hasPermission="system:phone:export">
                    <i class="fa fa-download"></i> 导出
                </a>
            </div>

            <div class="col-sm-12 select-table table-striped">
                <table id="bootstrap-table"></table>
            </div>
        </div>
    </div>
</div>

<th:block th:include="include :: footer" />
<th:block th:include="include :: layout-latest-js" />
<th:block th:include="include :: ztree-js" />
<script th:inline="javascript">
    var editFlag = [[${@permission.hasPermi('system:phone:edit')}]];
    var removeFlag = [[${@permission.hasPermi('system:phone:remove')}]];
    var prefix = ctx + "system/phonemanage";

    $(function() {
        var options = {
            url: prefix + "/list",
            createUrl: prefix + "/add",
            updateUrl: prefix + "/edit/{id}",
            removeUrl: prefix + "/remove",
            exportUrl: prefix + "/export",
            importUrl: prefix + "/importData",
            importTemplateUrl: prefix + "/importTemplate",
            // sortName: "createTime",
            sortOrder: "desc",
            modalName: "用户",
            columns: [{
                checkbox: true
            },
                {
                    field: 'pid',
                    title: '编号'
                },
                {
                    field: 'phone',
                    title: '授权号码',
                    sortable: true
                },
                {
                    field: 'uid',
                    title: '用户ID'
                },
                {
                    field: 'uname',
                    title: '用户姓名'
                },
                {
                    field: 'rolecode',
                    title: '邮箱',
                    visible: false
                },
                {
                    field: 'allowid',
                    title: '批准编号'
                },
                {
                    field: 'allowname',
                    title: '批准人姓名',
                    sortable: true
                },
                {
                    field: 'reallowid',
                    title: '再次批准编号',
                    sortable: true
                },
                {
                    field: 'reallowname',
                    title: '再次批准人姓名',
                    sortable: true
                }]
        };
        $.table.init(options);
    });
</script>
</body>
</html>