<!DOCTYPE html >
<html lang="en" xmlns:th="http://java.sun.com/jsf/composite">
<head>
    <meta charset="UTF-8">
    <title>温度数据管理</title>
</head>
<body>
<h2 align="center">查询结果</h2>
<table align="center">
    <thead>
    <tr>
        <th>地区序号</th>
        <th>地区</th>
        <th>温度</th>
        <th>测量时间</th>
    </tr>
    </thead>
    <tbody th:each="i:${data}">
    <tr>
        <td th:text="${i.id}"></td>
        <td th:text="${i.rname}"></td>
        <td th:text="${i.data}"></td>
        <td th:text="${i.time}"></td>
    </tr>
    </tbody>
</table>
<a class="back_btn" href="javascript:window.history.go(-1)">< 返回气象数据主页</a>
</body>
</html>